@import url('https://fonts.googleapis.com/css?family=Inter:300,600,800,900.css');
@import 'download_buttons.less';

#app-root-2025-tir_report .app {
  font-family: Inter, Helvetica, Arial, sans-serif;
  margin: auto auto;
  >.header_container {
    align-content: space-between;
    background-color: #8b0000;
    background-image: url('./../assets/img/l/cover-min.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    position: relative;
    @media all and (max-width: 970px) {
      background-image: url('./../assets/img/m/cover-min.jpg');
    }
    @media all and (max-width: 450px) {
      background-image: url('./../assets/img/s/cover-min.jpg');
    }
    >div {
      box-sizing: border-box;
      margin: 0 auto;
      max-width: 1350px;
      padding: 0 10px;
      @media all and (max-width: 450px) {
        padding: 0 0;
      }
      &.content_top {
        margin: 20px auto;
        width: 100%;
        h2 {
          color: #fff;
          font-size: 30px;
          line-height: 34px;
          margin: 0 0 20px 0;
          max-width: 350px;
          @media all and (max-width: 450px) {
            padding: 0 10px;
          }
          &:after {
            display: none;
          }
          .year {
            span {
              color: #ffcb05;
            }
          }
        }
      }
      &.between {
        flex: 1;
        min-height: 250px;
      }
      &.content_bottom {
        margin-bottom: 20px;
        width: 100%;
        >h2 {
          color: #fff;
          font-size: 50px;
          line-height: 54px;
          margin: 0 0 20px 0;
          max-width: 700px;
          padding: 0;
          position: relative;
          .share_wrapper {
            display: inline;
            position: relative;
            z-index: 2;
            margin: 0 10px;
            @media all and (max-width: 768px) {
              display: block;
              height: 55px;
              margin: 0 0 0 0;
            }
            @import './share.less';
          }
          @media all and (max-width: 450px) {
            font-size: 38px;
            line-height: 42px;
            padding: 0 10px;
          }
          &:after {
            display: none;
          }
        }
        .download_buttons_container {
          @media all and (max-width: 340px) {
            .overview {
              margin-bottom: 10px;
            }
          }
          @media all and (max-width: 450px) {
            padding: 0 10px;
          }
        }
        .chapters_navigation_container {
          display: flex;
          flex-direction: row;
          height: 100%;
          @media all and (max-width: 970px) {
            flex-direction: column;
          }
          button {
            background: none;
            border-radius: 0;
            border: 0;
            cursor: pointer;
            height: auto;
            margin: 0;
            padding: 0;
            text-align: left;
            @media all and (max-width: 970px) {
              border-bottom: 2px solid #fff;
              border-top: 2px solid #fff;
              margin-top: -2px;
            }
            .chapter_navigation {
              align-items: stretch;
              background-color: #004987;
              border-color: #004987;
              border-style: solid;
              border-width: 5px;
              box-sizing: border-box;
              display: flex;
              flex-direction: column;
              height: 100%;
              margin: 0 10px 0 0;
              width: 170px;
              @media all and (max-width: 970px) {
                flex-direction: row;
                width: 100%;
                .chapter_meta {
                  order: 1;
                }
                .chapter_title {
                  order: 2;
                }
                .chapter_image {
                  order: 3;
                }
              }
              .chapter_title {
                background-color: #004987;
                box-sizing: border-box;
                display: flex;
                flex: 1;
                padding: 5px 5px 10px 5px;
                @media all and (max-width: 970px) {
                  align-items: center;
                  padding: 5px 5px 5px 5px;
                }
                h2 {
                  color: #fff;
                  font-size: 18px;
                  margin: 0;
                  padding: 0;
                  &:after {
                    display: none;
                  }
                }
              }
              .chapter_image {
                background: transparent;
                padding: 5px;
                position: relative;
                @media all and (max-width: 970px) {
                  height: 60px;
                  padding: 0;
                  width: 60px;
                }
                div {
                  aspect-ratio: 1/1;
                  background-position: 50% 50%;
                  background-size: auto 100%;
                  &.chapter_image_1 {
                    // background-image: url('./../assets/img/thumbnails/ch1.jpg');
                    background-image: url('./../assets/img/l/chapter1-min.jpg');
                  }
                  &.chapter_image_2 {
                    // background-image: url('./../assets/img/thumbnails/ch2.jpg');
                    background-image: url('./../assets/img/l/chapter2-min.jpg');
                  }
                  &.chapter_image_3 {
                    // background-image: url('./../assets/img/thumbnails/ch3.jpg');
                    background-image: url('./../assets/img/l/chapter3-min.jpg');
                  }
                  &.chapter_image_4 {
                    // background-image: url('./../assets/img/thumbnails/ch4.jpg');
                    background-image: url('./../assets/img/l/chapter4-min.jpg');
                  }
                  &.chapter_image_5 {
                    // background-image: url('./../assets/img/thumbnails/ch5.jpg');
                    background-image: url('./../assets/img/l/chapter5-min.jpg');
                  }
                }
              }
              .chapter_meta {
                align-items: center;
                background-color: #004987;
                display: flex;
                justify-content: space-between;
                padding: 5px 5px 0px 5px;
                @media all and (max-width: 970px) {
                  padding: 5px 5px 5px 5px;
                }
                .chapter_number {
                  color: #fff;
                  font-size: 24px;
                  font-weight: 900;
                }
                .chapter_download_button {
                  color: #fff;
                  margin-top: -4px;
                  @media all and (max-width: 970px) {
                    display: none;
                  }
                  &:before {
                    background-image: url('./../assets/img/icons/icon_download_white.png');
                    background-size: 100%;
                    content: '';
                    display: block;
                    height: 30px;
                    width: 30px;
                  }
                }
              }
              &:hover {
                border-color: #009edb;
                .chapter_title {
                  background-color: #009edb;
                  h2 {
                    color: #000;
                  }
                }
                .chapter_meta {
                  background-color: #009edb;
                }
              }
            }
          }
        }
      }
    }
  }
  >.content_container {
    background-color: #fff;
    background-image: url('../assets/img/2025tir.jpg');
    background-position: 0 -200px;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding: 100px 0;
    .recommendations,
    .content {
      background-color: #fff;
      margin: auto auto auto auto;
      max-width: 900px;
      transition: height .5s ease;
    }
    .media_container {
      margin-bottom: 20px;
      .image_container {
        margin: auto auto;
        text-align: center;
        width: 100%;
        img {
          height: 250px;
          padding: 0;
          width: 100%;
        }
      }
    }
    .text_container {
      box-sizing: border-box;
      margin: auto auto;
      max-width: 1000px;
      padding: 0 10px;
      position: relative;
      z-index: 2;
      .text_content {
        max-width: 750px;
        margin: auto auto;
        h3 {
          font-size: 24px;
        }
        ul {
          font-size: 20px;
          line-height: 24px;
          margin: 0 0 20px 0;
          padding: 0;
          li {
            list-style-type: none;
            margin: 0 0 10px 0;
            padding: 0 0 0 25px;
            position: relative;
            &:before {
              background-image: url(https://storage.unctad.org/2024-der_report/assets/img/2024-der_report_chevron_arrow_yellow.png);
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: 100% 100%;
              content: '';
              display: inline-block;
              height: 20px;
              left: 0;
              position: absolute;
              top: 2px;
              width: 20px;
              z-index: 1;
            }
          }
        }
        ol {
          font-size: 20px;
          line-height: 24px;
          margin: 0 0 20px 0;
          li {
            margin-bottom: 10px;
          }
        }
        p {
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 24px;
          margin: 0 0 20px 0;
          strong {
            font-size: 22px;
            font-weight: 700;
          }
        }
        p,
        h3,
        ul {
          opacity: 0;
          &.visible {
            opacity: 1;
            transition: opacity 1.5s ease-in-out;
          }
        }
        blockquote {
          border: 0;
          font-size: 22px;
          font-weight: 400;
          line-height: 24px;
          margin: 0 0 20px 0;
          padding: 40px 0 0 100px;
          position: relative;
          .quote {
            margin-bottom: 20px;
          }
          .author {
            .name {
              font-weight: 600;
              display: block;
            }
          }
          &:before {
            background-image: url('./../assets/img/icons/icon_quote_big.png');
            background-repeat: no-repeat;
            background-size: 100%;
            content: '';
            display: inline-block;
            height: calc(129px / 1.5);
            left: 0;
            position: absolute;
            top: 0;
            vertical-align: middle;
            width: calc(139px / 1.5);
          }
        }
      }
      h2 {
        font-size: 60px;
        line-height: 60px;
        font-weight: 900;
        margin: 0 0 20px auto;
        &:after {
          display: none;
        }
        .chapter {
          color: #888;
          font-size: 24px;
          font-weight: 600;
          line-height: 30px;
        }
      }
      p.big {
        background-color: #009edb;
        color: #fff;
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
        margin: 200px auto;
        padding: 40px;
        text-align: center;
      }
    }
  }
  .scrolling-text-container {
    align-items: center;
    background-attachment: fixed;
    background-color: #fff;
    background-image: url('../assets/img/2025tir.jpg');
    background-position: 0 -400px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: flex;
    height: 500vh; /* Enough space for the scrolling effect */
    justify-content: center;
    overflow: hidden;
    position: relative;
    .scrolling-text {
      font-size: 60px;
      font-weight: 900;
      font-weight: bold;
      height: 100vh;
      position: fixed;
      top: 40vh;
      width: 100%;
      p {
      max-width: 700px;

      }
    }
  }

  .fixed-section {
    position: relative;
    .fixed-background {
      background-attachment: fixed;
      // background-image: url('./../assets/img/image1.png');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      height: 100vh;
      left: 0;
      position: absolute;
      transition: background-image 0.2s ease-in-out;
      width: 100%;
      z-index: 1;
      &.absolute_bottom {
        bottom: 0;
        position: absolute;
      }
      &.absolute_top {
        position: absolute;
        top: 0;
      }
      &.fixed {
        position: fixed;
        top: 0;
      }
      .chart_container_full {
        align-content:center;
        align-items:center;
        background-color: #222;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        max-width: 100%;
        min-height: 100vh;
        width: 100%;
        div {
          width: 100%;
          .svg_container {
            text {
              color: #fff;
            }
            .highlighted {
              fill: #ffc800;
            }
          }
          .chart_container {
            max-width: 700px;
            margin: auto auto;
          }
        }
      }
    }
    .scroll-elements {
      height: 100%;
      .scroll-content {
        align-content: center;
        align-items: center;
        background: transparent;
        display: flex;
        height: 150vh;
        justify-content: center;
        position: relative;
        flex-direction: column;
        top: 50vh;
        z-index: 2;
        &.full {
          div {
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            align-items: center;
            background-color: #fff;
            display: flex;
            max-width: 100%;
            min-height: 30vh;
            width: 100%;
          }
        }
        div {
          // background-color: rgba(255, 203, 5, 0.95);
          color: #fff;
          font-weight: 900;
          box-sizing: border-box;
          position: relative;
          padding: 20px 20px;
          text-align: center;
          text-shadow: -5px -5px 40px #000;
          h3 {
            font-size: 40px;
            font-weight: 800;
            line-height: 40px;
            margin: auto auto 20px auto;
            max-width: 700px;
          }
          ul,
          ol {
            margin: auto auto;
            max-width: 200px;
            text-align: left;
            font-size: 24px;
            line-height: 30px;
          }
          p {
            font-size: 50px;
            line-height: 60px;
            margin: auto auto 20px auto;
            max-width: 700px;
            span {
              font-weight: 800;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
          button {
            font-family: Inter, Helvetica, Arial, sans-serif;
            background-color: #ffc800;
            border: 0;
            border: 2px solid transparent;
            color: #000;
            cursor: pointer;
            font-size: 24px;
            font-weight: 600;
            height: 130px;
            border-radius: 50%;
            margin: 5px 5px 5px 5px;
            padding: 7px 10px;
            width: 130px;
            span {
              font-size: 30px;
              font-weight: 900;
            }
            &:hover {
              background-color: #009edb;
              border: 2px solid #000;
            }
          }
        }
      }
    }
  }
}